@media only screen and (max-width:1140px){
     .logo{
        width:50px;
        height:50px;
        border:3px solid white;
        border-radius:50px;
        display:flex;
    } 

    .logo img{
        width:50px;
        height:50px;
        border:3px solid white;
        border-radius:50px;
        margin:2px;
    }
    

    .secondHalf{
        width:35%;
        height:70%;   
        margin-top:20%;
    }
    
    .secondHalf img{
        width:108%; 
        height:60%;
        border: 5px solid white;
        border-radius: 100px;
        display: block;
        margin-left:auto;
        margin-right:auto;   
    }

    .background{
    
        background: rgba(0,0,0,0.5) url('../img/city2.jpg');
        background-size: cover;
        background-blend-mode: darken;
    
    }

    .nav-list{flex-direction:column;}

    .navbar{
        flex-direction:column;
        transition: all 1s ease-out;
        height:550px;
    }

    .rightNav{
        text-align : center;
    }

    .box-main{
        flex-direction:column-reverse;
        max-width:100%;
    }

    #search{
        width:100%;
    }

    .burger{
        display:block;
    }
    .h-nav-resp{
        height:70px;   
    }

    .v-class-resp{
        opacity:0;
    }

    .section{
        flex-direction:column-reverse;
    }

    .text-Big{
        text-align:center;
        padding:10px 0px;
    }

    .text-small{
        text-align:center;
        padding:30px 0px;
    }

    .btn{
        text-align:center;
    }

    .paras{
        padding:0px;
    }

    .thumbnail{
        padding:30px;
    }

    .sectionTag{
        /* font-size:35px; */
        padding:20px;
    }

    .sectionSubTag{
        font-size:30px;
    }

    .section{
        padding:60px 0px;
    }

    #search{
        width:110px;
        
    }

    .btn-sm{
        margin-top:20px
    }

    .btn-intro{
        font-size:22px;
    }

    .contact{
        padding-top:20px;
    }

    
}
